body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: lightblue;
    color: white;
    padding: 10px 0;
}

.navbar h1 {
    display: inline-block;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pet-card {
    background-color: #fff;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pet-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}


